# Imports

In [1]:
from imports import *
import explore as ex

# 1 - Make sure to perform a train, validate, test split before and use only your train dataset to explore the relationships between independent variables with other independent variables or independent variables with your target variable.

In [3]:
telco=ex.wrangle_telco()

Using cached csv

/usr/local/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/usr/local/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/usr/local/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)

In [5]:
telco[0].head()

,senior_citizen,tenure,monthly_charges,total_charges,male,partner,dependents,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,fios,contract_one_year,contract_two_year,pay_auto_cc,pay_e_check,pay_mail
0,1,38,95.00,3591.25,0,1,0,1,1,1,1,0,0,0,1,0,1,1,0,1,0,0
1,1,2,70.35,139.05,0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,0,1,0
2,1,11,19.95,214.75,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
3,0,10,86.05,834.10,1,0,0,1,1,0,0,0,0,1,0,1,1,0,0,0,0,0
4,0,43,60.00,2548.55,1,0,0,1,0,0,1,0,0,0,1,1,0,0,1,0,1,0

In [ ]:
df=pd.DataFrame(telco[0])

In [ ]:
df.info()

In [ ]:
df.head()

# 2 - Write a function named `plot_variable_pairs` that accepts a dataframe as input and plots all of the pairwise relationships along with the regression line for each pair.

In [ ]:
sns.pairplot(df.sample(10**2),diag_kind='hist', palette='icefire')

If I had more time I would right a list that pops out lmplots.

# 3 - Write a function named months_to_years that accepts your telco churn dataframe and returns a dataframe with a new feature tenure_years, in complete years as a customer.

In [ ]:
df.head()

In [ ]:
months=df.tenure.head()%12
months.head()

In [ ]:
years=df.tenure/12
years=years.astype('str')
years=years.str.split('.',expand=True)[0]

In [ ]:
type(years)

In [ ]:
df=pd.concat([df,years],axis=1)